In [1]:
#Dictionary

student1 = {
    "name" : "Anand",
    "age" : 23,
    "job id" : 1001
}

student2 = {
    "name" : "Emil",
    "age" : 24,
    "job id" : 1002
}

student3 = {
    "name" : "Jhon",
    "age" : 23,
    "job id" : 1003
}

today_class = {
    "student1" : student1,
    "student2" : student2,
    "student3" : student3
}

print(today_class)

{'student1': {'name': 'Anand', 'age': 23, 'job id': 1001}, 'student2': {'name': 'Emil', 'age': 24, 'job id': 1002}, 'student3': {'name': 'Jhon', 'age': 23, 'job id': 1003}}

In [3]:
today_class.get("student1")

{'name': 'Anand', 'age': 23, 'job id': 1001}

In [10]:
print(today_class["student1"]["name"])

Anand

In [11]:
today_class.keys()

dict_keys(['student1', 'student2', 'student3'])

In [12]:
today_class.values()

dict_values([{'name': 'Anand', 'age': 23, 'job id': 1001}, {'name': 'Emil', 'age': 24, 'job id': 1002}, {'name': 'Jhon', 'age': 23, 'job id': 1003}])

In [14]:
today_class.items()

dict_items([('student1', {'name': 'Anand', 'age': 23, 'job id': 1001}), ('student2', {'name': 'Emil', 'age': 24, 'job id': 1002}), ('student3', {'name': 'Jhon', 'age': 23, 'job id': 1003})])

In [20]:
student1.pop("name")

'Anand'

In [21]:
today_class

{'student1': {'age': 23, 'job id': 1001},
 'student2': {'name': 'Emil', 'age': 24, 'job id': 1002}}

In [22]:
today_class.popitem()

('student2', {'name': 'Emil', 'age': 24, 'job id': 1002})

In [23]:
today_class

{'student1': {'age': 23, 'job id': 1001}}

In [2]:
today_class

{'student1': {'name': 'Anand', 'age': 23, 'job id': 1001},
 'student2': {'name': 'Emil', 'age': 24, 'job id': 1002},
 'student3': {'name': 'Jhon', 'age': 23, 'job id': 1003}}

In [10]:
for x,y in today_class.items():
    print(x, y)

student1 {'name': 'Anand', 'age': 23, 'job id': 1001}
student2 {'name': 'Emil', 'age': 24, 'job id': 1002}
student3 {'name': 'Jhon', 'age': 23, 'job id': 1003}

In [12]:
dict1 = {
    "name" : "joe",
    "age" : 18,
    "place" : "Michigan"
}

for x,y in dict1.items():
    print(x, y)

name joe
age 18
place Michigan