In [1]:
import numpy as np
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
data = pd.read_csv("Car_sales.csv")

In [4]:
data.sample(4)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
9,BMW,528i,17.527,36.125,Passenger,38.900,2.8,193.0,111.4,70.9,188.0,3.472,18.5,25.0,4/4/2011,83.998724
89,Mercury,Grand Marquis,81.174,14.875,Passenger,22.605,4.6,200.0,114.7,78.2,212.0,3.958,19.0,21.0,7/24/2012,80.657696
156,Volvo,S80,18.969,NaN,Passenger,36.000,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655
71,Lexus,GS300,12.698,32.075,Passenger,37.805,3.0,225.0,110.2,70.9,189.2,3.638,19.8,23.0,5/10/2012,94.946698

In [7]:
data.isnull().sum()

Manufacturer            0
Model                   0
Sales_in_thousands      0
__year_resale_value    36
Vehicle_type            0
Price_in_thousands      2
Engine_size             1
Horsepower              1
Wheelbase               1
Width                   1
Length                  1
Curb_weight             2
Fuel_capacity           1
Fuel_efficiency         3
Latest_Launch           0
Power_perf_factor       2
dtype: int64

In [8]:
data.dropna(inplace = True)

In [11]:
data.isnull().sum()

Manufacturer           0
Model                  0
Sales_in_thousands     0
__year_resale_value    0
Vehicle_type           0
Price_in_thousands     0
Engine_size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb_weight            0
Fuel_capacity          0
Fuel_efficiency        0
Latest_Launch          0
Power_perf_factor      0
dtype: int64

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    float64
 14  Latest_Launch        117 non-null    object
 15  Power_perf_factor    117 non-null    float64
dtypes: float64(12), object(4)
memory usage: 15.5+ KB

In [14]:
data.Latest_Launch.unique()

array(['2/2/2012', '6/3/2011', '3/10/2011', '10/8/2011', '8/9/2011',
       '2/27/2012', '1/29/2012', '4/4/2011', '11/2/2011', '9/3/2011',
       '3/23/2012', '7/23/2011', '2/23/2012', '11/27/2011', '9/28/2011',
       '8/17/2011', '3/19/2012', '5/24/2011', '12/22/2011', '10/23/2011',
       '5/12/2012', '9/11/2011', '4/13/2012', '1/16/2012', '11/17/2011',
       '6/6/2012', '10/6/2011', '5/8/2012', '12/12/2011', '7/1/2012',
       '10/31/2011', '8/7/2011', '3/6/2012', '1/6/2012', '7/26/2012',
       '11/25/2011', '9/1/2011', '3/31/2012', '1/31/2012', '8/20/2012',
       '12/20/2011', '9/26/2011', '4/25/2012', '2/25/2012', '9/14/2012',
       '1/14/2012', '8/16/2012', '10/21/2011', '5/20/2012', '3/21/2012',
       '10/9/2012', '2/8/2012', '9/10/2012', '11/15/2011', '6/14/2012',
       '4/15/2012', '3/4/2012', '10/5/2012', '12/10/2011', '7/9/2012',
       '5/10/2012', '3/29/2012', '8/3/2012', '6/4/2012', '4/23/2012',
       '11/24/2012', '8/28/2012', '6/29/2012', '1/17/2012', '5/18/2012',
       '12/19/2012', '9/22/2012', '7/24/2012', '2/13/2008', '10/20/2009',
       '4/24/2011', '7/12/2011', '6/13/2011', '3/17/2011', '8/31/2011',
       '8/2/2011', '5/6/2011', '3/7/2011', '9/25/2011', '5/31/2011',
       '2/18/2011', '9/21/2011', '6/25/2011', '4/26/2011', '11/14/2011',
       '1/25/2012', '11/26/2012', '6/16/2012', '10/15/2012', '5/18/2011',
       '2/19/2012', '12/21/2012', '7/11/2011', '3/16/2011', '1/15/2011',
       '4/11/2011', '2/10/2011', '12/29/2012', '8/1/2011', '1/24/2011',
       '8/27/2011', '10/30/2012', '4/1/2011'], dtype=object)

In [18]:
data["Latest_Launch "] = pd.to_datetime(data.Latest_Launch)        #change dtype of object to datetime, in case of date columns

In [21]:
data["Latest_Launch "].info()

<class 'pandas.core.series.Series'>
Int64Index: 117 entries, 0 to 149
Series name: Latest_Launch
Non-Null Count  Dtype
--------------  -----
117 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 1.8 KB

In [22]:
data["year"] = pd.DatetimeIndex(data["Latest_Launch"]).year                 #seperate year, month & day from "Latest_Lunch"

In [24]:
data["month"] = pd.DatetimeIndex(data.Latest_Launch).month
data["day"] = pd.DatetimeIndex(data["Latest_Launch"]).day

In [25]:
data.sample()

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Latest_Launch,year,month,day
79,Mitsubishi,Mirage,26.232,8.325,Passenger,13.987,1.8,113.0,98.4,66.5,173.6,2.25,13.2,30.0,4/23/2012,45.832181,2012-04-23,2012,4,23

In [26]:
#let's convert dtype of "Fuel_efficiency" in int

data["Fuel_efficiency"] = data["Fuel_efficiency"].astype(int)

In [28]:
data.Fuel_efficiency.info()

<class 'pandas.core.series.Series'>
Int64Index: 117 entries, 0 to 149
Series name: Fuel_efficiency
Non-Null Count  Dtype
--------------  -----
117 non-null    int32
dtypes: int32(1)
memory usage: 1.4 KB

In [37]:
data["Fuel_efficiency"].sample()

1    25
Name: Fuel_efficiency, dtype: int32

In [44]:
data["month"].replace({
    
    1 : "January",
    2 : "February",
    3 : "March",
    4 : "April",
    5 : "May",
    6 : "June",
    7 : "July",
    8 : "August",
    9 : "September",
    10 : "October",
    11: "November",
    12 : "December"
    
}, inplace = True)

data.sample(5)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Latest_Launch,year,month,day
76,Lincoln,Continental,13.798,20.525,Passenger,39.080,4.6,275.0,109.0,73.6,208.5,3.868,20.0,22,8/3/2012,113.540207,2012-08-03,2012,August,3
56,Ford,F-Series,540.561,15.075,Car,26.935,4.6,220.0,138.5,79.1,224.5,4.241,25.1,18,8/16/2012,89.401935,2012-08-16,2012,August,16
95,Mercedes-B,SL-Class,3.311,58.600,Passenger,82.600,5.0,302.0,99.0,71.3,177.1,4.125,21.1,20,3/17/2011,139.982294,2011-03-17,2011,March,17
41,Dodge,Ram Wagon,16.767,15.510,Car,21.315,3.9,175.0,109.6,78.8,192.6,4.245,32.0,15,1/6/2012,71.135292,2012-01-06,2012,January,6
59,Honda,CR-V,73.203,17.710,Car,20.550,2.0,146.0,103.2,68.9,177.6,3.219,15.3,24,3/21/2012,60.087967,2012-03-21,2012,March,21

In [45]:
from sklearn.preprocessing import LabelEncoder                           #label encoder

In [46]:
le = LabelEncoder()

In [48]:
for item in data.Vehicle_type.unique():
    print(item)

Passenger
Car

In [49]:
data["le_Vehicle_type"] = le.fit_transform(data.Vehicle_type)             #passenger be "1" & car be "0"

In [53]:
data.sample(3)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,...,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,Latest_Launch,year,month,day,le_Vehicle_type
113,Oldsmobile,Silhouette,24.361,15.24,Car,25.345,3.4,185.0,120.0,72.2,...,3.948,25.0,22,6/25/2011,76.096570,2011-06-25,2011,June,25,0
11,Buick,Regal,39.350,13.74,Passenger,25.300,3.8,240.0,109.0,72.7,...,3.543,17.5,23,9/3/2011,95.636703,2011-09-03,2011,September,3,1
47,Ford,Mustang,113.369,12.76,Passenger,21.560,3.8,190.0,101.3,73.1,...,3.203,15.7,24,1/31/2012,76.509185,2012-01-31,2012,January,31,1